@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  text-decoration: none;
} 
html {
  overflow-y: hidden;
}
body{
  background-image: url("https://images.unsplash.com/photo-1517825738774-7de9363ef735?q=80&w=2220&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: 100%;
  background-repeat: no-repeat;
  border: #000000;
}
.aboutus{
  MARGIN-left: 51%;
  margin-top: -4%;
  font-size: 15px;
}
.aboutus a{
  padding: 2px 25px;
  font-weight: 600;
}
.aboutus a:hover{
    color: rgb(255, 0, 0);
    transition: 0.5s;
}
.content{
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #ffffff;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}
.content div:hover{
  color: rgb(255, 0, 0);
  letter-spacing: 1px;
  transition: 1.001s;
  transition: 1s;
}
.down{  
  margin-top: -1%;
  padding-left: 3%;
}
.logout{
    padding-top: 26%;
    width: 88%;
    padding-left: 1%;
}
.logout img{
  border-radius: 52px;
  cursor: pointer;
  opacity: 40%;
}
.logout img:hover{
  opacity: 100%;
}
span{
  font-size: small;
  padding-left: 10px;
  margin-top: 21%;
  opacity: 70%;
}
@media(max-width : 1430px){
  body{
    background-image: url("https://images.unsplash.com/photo-1562569633-622303bafef5?q=80&w=1982&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: 110%;
  }
  .aboutus{
    width: 54%;
    font-size: 100%;
    text-align: end;
    list-style: none;
    display: grid;
    position: relative;
    left: -5%;
}
  .aboutus a:hover{
      font-size: larger;
  }
}
