*{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
body{
    font-family: system-ui;
    background-color: #000000;
}
.down{  
    MARGIN-left: 3%;
    margin-top: 1%;
}
.aboutus{
    MARGIN-left: 50%;
    margin-top: -4%;
    margin-bottom: -7%;
}
hr{
    margin-top: 5%;
}
.aboutus a{
    padding: 2px 25px;
    font-weight: 600;
}
.aboutus a:hover{
    color: rgb(255, 0, 0);
    transition: 1s;
}
.title{
    margin-top: 3%;
    padding-left: 37.5%;
    font-size: x-large;
    text-decoration: underline;
}
.all{
    position: relative;
    left: -3%;
}
.container{
    padding-top: 8%;
    padding-left: 12%;
    display: flex;
}
.container img:hover{
    padding-top: 1%;
    transition: 1s;
    width: 66%;
}
.full{
    margin-top: -11%;
    margin-left: 59%;
}
button {
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: solid 1px rgba(255, 255, 255, 0);
    width: 26%;
    margin: -5% -8%;
}
button:hover{
    color: rgb(0, 0, 0);
    transition: 1s;
    background-color: rgba(255, 255, 255, 0);
}
.liked {
    background-color: #000000; 
    color: #fff; 
}
.scroll{
    padding-left: 95%;
    font-size: 20px;
    margin-top: -225%;
    position: fixed;
}
.scroll i{
    background: #ff0000;
    padding: 11px 12px;
    border-radius: 137%;
    color: #ffffff;
}
.scroll i:hover{
    color: #000000;
}
@media (max-width : 1400px) {
    .aboutus{
        width: 54%;
        font-size: 100%;
        text-align: end;
        list-style: none;
        display: grid;
        position: relative;
        left: -5%;
    }
    .aboutus a:hover{
        font-size: larger;
        font-weight: bolder;
    }
}
@media (max-width : 1420px){
    .container{
        text-align: center;
        padding-top: 16%;
        display: list-item;
    }
    .title{
        font-size: large;
        position: absolute;
        left: -14%;
        top: 10%;
    }
}
@media (max-width : 1420px){
    button {
        font-size: 17px;
        background-color: rgb(0, 0, 0);
        color: white;
        cursor: pointer;
        border: solid 1px rgb(0, 0, 0);
        margin-left: -59%;
        padding-bottom: 15%;
    }
}
.box {
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 88%;
}

p {
    font-size: 17px;
    align-items: center;
}

.box a {
    color: aliceblue;
    display: inline-block;
    background-color: #000000;
    padding: 13px;
    border-radius: 12px;
    width: 23%;
}

.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(254, 126, 126, 0);
    transition: all 0.50s;
    visibility: hidden;
    opacity: 0;
}

.content {
    position: absolute;
    background: rgb(255, 255, 255);
    width: 383px;
    padding: 2em 3em;
    border-radius: 48px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.365));
}

.modal:target {
    visibility: visible;
    opacity: 1;
    margin-top: -10%;
    position: absolute;
    left: -3%;
}

.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}
.announcement{
    position: absolute;
    left: 9%;
    font-size: 129%;
    padding-top: 6%;
}
.winner{
    padding-top: 11%;
    padding-left: 40%;
    padding-bottom: 6%;
}