*{
    list-style: none;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: system-ui;
}
.logo{
    width: 62%;
    margin-top: -4%;
}
span{
    font-size: xx-large;
    font-weight: 600;
    margin-left: -33%;
}
ul{
    width: calc(80% - -10px);
    margin: 41px 61px 66px 21px;
    display: flex;
}
img{
    filter: grayscale(90%);
}
li{
    padding: 8px 23px;
}
.member {
    width: 74%;
    float: inline-end;
    margin-top: -4%;
}
li:hover{
    color: red;
    padding-top: 1.5%;
    transition: 0.8s;
}