*{
    list-style: none;
    font-family: system-ui;
    color: #ffffff;
}

body{
    background-image: url("https://images.unsplash.com/photo-1704118095425-a3d37c67720a?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    border: #000000;
  }
button{
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    padding: 7px 28px;
    border: solid 1px rgb(255, 0, 0);
    border-radius: 13px;
    cursor: pointer;
    margin: 2%;
    font-size: medium;
}
input{
    color: black;
    margin-top: -19%;
    margin-left: 3%;
}
.logo{
    width: 65%;
    padding-left: 61%;
    margin-top: 17%;
    position: fixed;
}
.rules{
    margin-top: -41%;
    padding-left: 87%;
    line-height: 30px;
    position: fixed;
    width: 9%;
}
.rules a:hover{
    color: red;
}
.todoss{
    width: 78%;
    padding-top: 2%;
    padding-left: 14%;
}
span{
    font-size: xx-small;
}
h2{
    font-size: x-large;
    padding-top: 3%;
}
ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 4%;
  }
li{
    display: table-cell;

}
.home{
    padding-top: 17%;
    padding-left: 94%;
    position: fixed;

}
.home i{
    background-color: red;
    padding: 26px 16px;
    border-radius: 72%;
}
